<div id="developers">
    <div class="container">
        <h1>Give your chatbot a voice</h1>
        <strong>Your chatbot can now be reached simply by calling</strong>
        <p>You’ve built this awesome chatbot, but discovery is hard, and usage it low? We feel your pain.<br> This is why we’ve
            built chatbot.over.ai – a free and easy way to assign a number for your chatbot and let it converse, in voice
            (!) with incoming inquiries.
        </p>
        <ul>
            <li>Free!</li>
            <li>Takes 2 minutes to set up (if you’re slow)</li>
            <li>Easy discovery</li>
            <li>More users!</li>
            <li>Supports api.ai, wit.ai, facebook, Kik, chatfule</li>
        </ul>
        <button [routerLink]="['/account/register']">Start Now</button>
        <p>Not sure? Call the over.ai bot at +1212111111</p>
    </div>
    <div id="imgContainer"></div>
</div>
<account-footer></account-footer>