<dynamic-view [header] ="header" [lastUpdate]="lastUpdate" [body]="body"></dynamic-view>



<!--<div class="defualtPageLayout">
    <div class="defualtHeader">
        <h1>Over.ai Terms Of Use</h1>
        <p>
            Last Updated December 5, 2016.
        </p>
    </div>
    <div class="contentSub">
        <p>
            These terms are considered a binding enforceable agreement between yourself and Over.ai, and was written in legal language.
            While we require that you read the full text prior to providing your consent to these terms, we hereby summarized
            your rights and duties: <br><br> If you spam, bundle the Over.ai Software with malware, viruses,
            trojans or use it in any other mean that may harm Over.ai, then Over.ai may close your account and refuse to
            pay. <br><br> Lastly, no matter what, Over.ai will not be liable for any damage, even if zombies eat your bride-to-be.
            <br><br>
        </p>
    </div>
    <div class="content">
        <p>
            1. License Grant: For these terms, the term "Software" shall mean all and any of Over.ai's software distributed throughout
            the Over.ai Administration Panel, or made available through it, including the Over.ai SDK and all any other software
            distributed or made available through or by Over.ai, provided that such software is owned by Over.ai. <br><br>            1.1. License: Over.ai hereby grants you a limited, sublicensable, non-assignable, commercial, royalty-free, non-exclusive,
            license, all with accordance with the terms set forth and other legal restrictions set forth in 3rd party software
            used while running Software. <br><br> 1.2. Limited: You may use Software for personal use and for the purpose
            of developing and integrating software inside your applications, distributing it as a "white label" software,
            branded under your brands, or distribute it unbranded, and to redistribute it solely in object code in such applications.
            <br><br> 1.3. Sublicensable: You may redistribute the Software throughout various channels and sub-license it
            to 3rd parties for distribution, provided that you may not: (a) alter or amend the Software in any form; (b)
            circumvent or otherwise modify the Software from contacting Over.ai's servers; (c) offer 3rd parties that you
            sublicense the software to revenues based on their distribution or use of the Software; or (d) bundle Software
            with any 3rd party software without using Over.ai's tools and Software for such bundling. Any software you bundle
            with the Software must be your own, and you cannot create packages containing 3rd party software. <br><br> 1.4.
            Non Assignable & Non-Transferable: You may not assign or transfer your rights and duties under this license.
            5. Not Including the Right to Create Derivative Works: If you use the Over.ai SDK, you may do not (i) amend or
            otherwise modify the SDK source code or object code; but you may integrate the SDK it into a larger work (such
            as your own application). <br><br> 1.5. Non-Exclusive: Your license is granted on a non-exclusive basis. Nothing
            in this license shall limit Over.ai from licensing, conveying, assigning, transferring or otherwise contracting
            any party in regards to Software. <br><br> 1.6. Software's Trademarks: Over.ai shall retain full title in Trademarks,
            and any trademarks and tradenames contained, including Software's names, logos, and all other intellectual property.
            Unless specifically stated in this license, no license shall be made to use, associate or affiliate Software
            with you in any manner. <br><br> 1.7. Including in Software's Patents: If Software is covered by Patents, Over.ai
            grants you a non-exclusive, worldwide, royalty-free patent license under Over.ai's essential patent claims, to
            make, use, sell, offer for sale, import and otherwise run, modify and propagate the contents of Software. <br><br>            1.8. No Use of Open Source: The use of Software as a part of a larger work is limited in cases where the larger
            work contains any reciprocal license as defined by the Open Source Initiative or any license containing stipulations
            which may require Over.ai, or yourself, to disclose or distribute the source code of Software to any 3rd party
            or to yourself. <br><br> 1.9. No Malicious Use: You may not use Software in any application which includes viruses,
            trojans, malicious software or which otherwise uses end-users' information or computers without their consent.
            Moreover, you may not use Software with any content which may be deemed as offensive, illegal or infringes any
            3rd party rights. <br><br> 1.10. Temporary: License is granted for a limited amount of time, and as long as You
            adhere to Over.ai's terms of service. <br><br> 2. Eligibility Terms: By signing up to the Services, you hereby
            acknowledge and accept these terms and agree to be bound by them. In order to use the Services you shall be required
            to maintain your account details secure and adhere to Over.ai's terms of eligibility, as stated herein. <br><br>            2.1. Accurate Information: By entering into these Terms, you hereby warrant that the contact information presented
            to Over.ai, including your payment accounts when registering to the Distribution Services are true, accurate
            and up-to-date. <br><br> 2.2. Solvency: You are solvent and have not filed for bankruptcy, liquidation, debt
            arrangement or otherwise lost your ability to enter into agreements such as these Terms. <br><br> 2.3. Natural
            Person: You are either a natural person or a designated agent of a corporation and are legally acting on its
            behalf. <br><br> 2.4. Age: If you are a natural person, then you are over 18 years of age. <br><br> 2.5. Not
            a sex offender: Neither you, nor any of your employees, have been convicted of any sex crime, possession of child
            pornography or otherwise been under electronic monitoring in relation to sexual offenses. <br><br> 2.6. Residence:
            You do not reside in any proscribed state, such as Syria, Iran or North Korea. <br><br> 2.7. Authentication:
            When registering to the Services, Over.ai shall authenticate your identity using certain services, and may, at
            its own discretion, request additional authentication, including: <br><br> 3. Authentication and security 3.1.
            Email: Over.ai shall authenticate your email address and send a notification email to the address you provided
            it. In the said email, Over.ai may include information or a link to authenticate your email account as the proprietor
            of the said address. <br><br> 3.2. OpenID: Over.ai may allow you to authenticate against an OpenID service, such
            as Google, and may request, at its sole discretion, additional authentication. <br><br> 3.3. Facebook Connect:
            Over.ai may allow you to authenticate against your Facebook account and may use certain information from said
            account with your consent. <br><br> 3.4. Securing your accounts: Due to the sensitivity of information stored
            on your behalf on the Services and the potential risk of loss of money and/or intellectual property, you shall
            be required to enter a password for your Account. Please keep in mind that Over.ai strongly encourages the use
            of strong passwords (such as, for example, 36h%#QYHE~1 or wherearemykeys) and that using the same account for
            more than one user or in more than one website is considered an unsafe practice. For more information about strong
            passwords and how to find strong passwords that are easy to remember, please read the following article: <br><br>            http://www.baekdal.com/insights/password-security-usability
            <br><br> 3.5. Sharing your login data: You are specifically prohibited from sharing your username and password
            with any 3rd party. <br><br> 3.6. Retaining your login data: Over.ai highly discourages the use of password managers
            in order to retain your login information on your browser or refraining from using lock codes on your mobile
            device.<br><br> 3.7. Notification: You are required to inform Over.ai, immediately, upon any case where you believe
            that your account was breached and in any case you are in knowledge of any unauthorized use of any Over.ai account.
            <br><br> 3.8. Over.ai's Liability: Over.ai shall not be liable for any damage you suffered in any case where
            you did not adhere to these security guidelines and shall not be able to assist you in any manner should you
            refrain from using Over.ai's best practices as published from time to time. <br><br> 4. The Services: Over.ai's
            Services shall include the following services, where Over.ai may add or depreciate any services from time to
            time, according to its sole discretion: <br><br> 4.1. Over.ai Base: Over.ai Base is a smart device connector
            which enables application developers to create action based activities and notifications. It allows Over.ai and
            yourself to tailor your end-users applications to their preferences and activity, and to create better engagement.
            <br><br> 4.2. Edit Your Account: Over.ai may avail you to a web based interface to review and monitor your usage
            statistics, revenues, installations and other activities. <br><br> 5. No Malicious Activity: Over.ai places high
            value on their end-user's privacy and wishes to prevent unauthorized installations of the Software or by any
            other way bundling of the Software with malicious code or promotion of the Software by illegal or unethical means,
            where, amongst other things, the following shall automatically be considered as Malicious Activity and incur
            termination of your account and withholding of any funds in it: <br><br> 5.1. Spam: you may not use the Software
            to spam, nor you may use spam to promote and distribute the Software. Where spam, for the purpose of this agreement,
            shall mean all and any uninvited or unsolicited postings or communications, including repetitive web-posting,
            splogs, unsolicited emails, short messages or social network messages, sending of invitations through social
            networks or end-users' contacts and engaging in any harassing activity. <br><br> 5.2. Viruses and Malware: you
            may not use Software to distribute viruses and malware, nor you may use Viruses and Malware to distribute software.
            Where Viruses and Malware, for the purpose of this agreement, shall mean all and any software or code which acts
            without the end-users' specific consent and/or performs any activity which was not intended to be performed by
            the end user, including any secret key-loggers, trojans, back-doors, and including any automated installers and
            updaters. <br><br> 5.3. Adult Content: you may not use Software to distribute Adult content to end-users, nor
            may you use Adult Content to distribute software, where Adult Content shall mean any pornography, obscenity,
            nudity, or other content which may be harmful to minors. 4. Tricking Children: Children are considered a sensitive
            group and are not eligible to enter into agreements without their parents' consent. Therefore, they cannot agree
            to Over.ai's terms and privacy. Therefore, you may not use Software to distribute content for children nor you
            may target children to download and install the Software. Where, for demonstration only, you may not set up a
            website that allows children to download games where the Software is bundled to. <br><br> 5.4. Fraudulent Activity:
            you may not use Software for fraudulent activity nor you may use fraudulent activity to distribute Software.
            Where Fraudulent Activity shall mean any activity where (i) the end-user is tricked or incentivized into clicking
            on any advertisements; (ii) the end-user's device automatically generates clicks on advertisements or other links;
            (iii) the end-users are manipulated into clicking on links which do not represent their actual content; (iv)
            software is installed on the end-users' devices without their specific opt-in consent; (v) automated searches
            are generated by software. <br><br> 5.5. Illegal Activity: you may not use Software in any illegal activity nor
            may you use illegal activity to distribute Software. Where Illegal Activity shall mean any activity which is
            prohibited in the jurisdiction where the Software is distributed in. <br><br> 5.6. Infringing on 3rd Party Rights:
            you may not use Software in any manner which infringes 3rd party rights, nor may you infringe any 3rd party rights
            to distribute Software. 3rd Party rights shall include, but not limited to, right for privacy, copyright, patents,
            trademarks, goodwilll, good name and other rights. By means of example only, you may not use any trademarked
            logos in Software or bundle it with Software you are not licensed to bundle. <br><br> 5.7. Invading Personal
            Information: You may NOT share any information you obtain from the Over.ai SDK with any 3rd party and may only
            use the Over.ai SDK for your own internal application. You may not use the information provided from Over.ai
            SDK for any use in any real-time bid service, advertising service or other services which commingle and/or combine
            this information with other information. <br><br> 6. Suspension: Over.ai may, but is not obligated to, monitor
            your use of the services from time to time, and may suspend or remove your account if it believes that, or receives
            any complaint, that your use of the Services violates any of your statements and warranties under these terms.
            In such case, Over.ai may also withhold any of the revenues and sums in your account as a penalty. For example,
            if your software is removed from any 3rd party application store, such as Google Play, then Over.ai may suspend
            your account at any time. <br><br> 7. Availability and Maintenance: Over.ai might disable the Services from time
            to time for scheduled backups, maintenance or upgrades. In such case, Over.ai shall notify you, through electronic
            communication, up to 48 hours prior to each scheduled downtime. However, in some extreme cases, where urgent
            maintenance is required, Over.ai may disable the service immediately and without notice. <br><br> 8. Support:
            Currently, and due to the early stage of the Over.ai service, support is only provided by Electronic mail and
            during regular business hours at Support@Over.ai.com. <br><br> 9. Termination of Service: Over.ai may terminate
            your use of the Services at any time and with no prior written notice in any case where you breached these terms
            and such breach may cause Over.ai irreparable harm. Moreover, Over.ai may terminate your service if you (i) became
            insolvent or otherwise entered into any liquidation process; or (ii) exported any of Over.ai's intellectual property
            to any jurisdiction where Over.ai may not enforce its rights under this agreements in; or (iii) were in breach
            of any of these terms and conditions and such breach was not cured, immediately upon notification; or (iv) otherwise
            entered into any arrangement which caused Over.ai to be unable to enforce its rights under these Terms. Moreover,
            Over.ai terminate this agreement at any cause by providing you with a 30 days written notice. <br><br> 10. Amending
            these Terms: Over.ai may amend these terms from time to time, provided that you shall be informed through electronic
            communication on such amendment and shall be granted the option to terminate your agreements with Over.ai by
            providing a 30 days prior written notice and removing your accounts. <br><br> 11. Liability: To the extent permitted
            under Israeli Law, the Software and Services are provided under an AS-IS basis. Over.ai shall never, and without
            any limit, be liable for any damage, cost, expense or any other payment incurred by yourself as a result of its
            actions, failure, bugs, and/or any other interaction between Software and your end-equipment, computers, your
            software, other software or any 3rd party services. Moreover, Over.ai shall never be liable for any defect in
            source code written by you when relying on the Over.ai SDK. <br><br> 12. Warranty: Software is provided without
            any warranty; Over.ai hereby disclaims any warranty that Software shall be error free, without defects or code
            which may cause damage to your computers or to you, and that Software shall be functional. You shall be solely
            liable to any damage, defect or loss incurred as a result of operating software and undertake the risks contained
            in running Software on your computers. <br><br> 13. Indemnification: You hereby warrants to hold Over.ai, it's
            executives, officers and employees harmless and indemnify Over.ai for any lawsuit brought against it in regards
            to you use of Software in means that violate, breach or otherwise circumvent these terms, Over.ai's intellectual
            property rights or Over.ai's title in Software. Over.ai shall promptly notify you in case of such legal action.
            <br><br> 14. Governing Law, Jurisdiction: This Agreement shall be solely governed by the Laws of the State of
            Israel, and any dispute arising from it shall be brought only to the competent courts of the Tel-Aviv district.
            You hereby agree not to initiate class-action lawsuits against Over.ai in relation to this Agreement and to compensate
            Over.ai for any legal fees, costs or attorney fees should any claim brought by you against Over.ai denied, in
            part or in full. <br><br> 15. Reputation and Amicability: At all times shall you refrain from harming Over.ai's
            reputation. You hereby acknowledge that you shall not defame, slander, or otherwise publish any false, negative,
            derogatory or humiliating information relating to Over.ai, nor shall you solicit others to do so. <br><br>
        </p>
    </div>
</div>
 <account-footer></account-footer>-->