<div id="businessLayout">
  <section>
    <div id="businessContainer">
      <div id="textOuterContainer">
        <div id="textContainer">
          <p class="headline">Telephone Answering Service</p>
          <div class="lineImg"></div>
          <p class="bodyHighLight">Your always on PA</p>
          <p class="defualtFontSize">A confident, helpful and knowledgeable PA that will impress callers and ensures you never miss a business opportunity</p>
          <a class="tag upperCaseBold" [routerLink]="['/account/register']">START NOW</a>
          <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/305423139&amp;color=000000&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;show_artwork=false&amp;"></iframe>
        </div>
      </div>
      <div id="imgRight" class="imgContainer"></div>
    </div>
    <div id="infoBox">
      <div id="infoHeader">
        <h2>Start a free trial</h2>
      </div>
      <div id="infoBody">
        <div id="infoLeft">
          <p>Experience our full service for a month, no half measures.</p>
          <p>You can have your own personal assistance handling your inbound calls in minutes. No hidden set-up fees, no admin
            charges, and absolutely no ongoing commitment - you've got nothing to lose.</p>
        </div>
        <div id="infoRight">
          <div>
            <i class="material-icons">watch</i>
            <p class="subHeaderRgular">24x7 service and immediate response to makes your customers happy.</p>
          </div>
          <div>
            <i class="material-icons">star_border</i>
            <p class="subHeaderRgular">Save costs and time as calls are routed and resolved through AI.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div>
      <p class="headline">HOW IT WORKS</p>
      <p class="bodyHighLight">When a caller rings your business number, if you're unavailable or simply don't want to answer the call, that call
        will pass to your virtual PA, just as if she is in your office. Your PA's confidence, helpfulness and knowledge will
        impress your caller. That caller is then either transferred through to you (or a colleague) wherever you are or a
        message is sent to you immediately as a text or email.</p>
      <p class="mediumSmallBold">You'll gain time, flexibility, cost savings and a professional image</p>
      <a class="upperCaseBold whiteButton" [routerLink]="['/account/register']" routerLinkActive="active">GET STARTED</a>
    </div>
  </section>
  <section id="pricingSection">
    <pricing></pricing>
  </section>
</div>
<!--<div id="sections">
<section id="firstSection">
    <div class="container">
        <h1>Telephone Answering Service</h1>
        <strong>Your always on PA</strong>
        <p>A confident, helpful and knowledgeable PA that will impress callers and ensures you never miss a business opportunity</p>
        <button md-raised-button [routerLink]="['/account/register']">Start Now</button>
    </div>
</section>
<section id="secendSection">
    <div class="container">
        <img src="../images/buisnessImg.svg" alt="business">
        <strong>Take a free trial</strong>
        <div  class="lineImg"></div>
        <p>Experience our full service for a month, no half measures. You can have your own personal assistance handling your
            inbound calls in minutes. No hidden set-up fees, no admin charges, and absolutely no ongoing commitment - you've
            got nothing to lose.</p>
            <iframe width="60%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/305423139&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;show_artwork=false"></iframe>
    </div>
</section>
<section id="thirdSection">
    <div class="container">
        <strong>Benefits</strong>
        <div  class="lineImg"></div>
        <div id="circlesContainer">
            <div>
                <p id="ivr">IVRs and voicemails are so 90s. </p>
            </div>
            <div>
                <p>24x7 service and immediate response – makes your customers happy.</p>
            </div>
            <div>
                <p id="cost">Save costs and time as calls are routed and resolved through AI. .</p>
            </div>
        </div>
    </div>
</section>
<section>
    <pricing></pricing>
</section>
<section id="fourthSection">
    <div class="container">
        <strong>How it works</strong>
        <div  class="lineImg"></div>
        <p>When a caller rings your business number, if you're unavailable or simply don't want to answer the call, that call
            will pass to your virtual PA, just as if she is in your office. Your PA's confidence, helpfulness and knowledge
            will impress your caller. That caller is then either transferred through to you (or a colleague) wherever you
            are or a message is sent to you immediately as a text or email.<br><br> You'll gain time, flexibility, cost savings and
            a professional image</p>
        <button md-raised-button [routerLink]="['/account/register']">Start Now</button>
    </div>
</section>
<account-footer></account-footer>
</div>-->
