<div id="sendForgotPassEmail">
  <h1 md-dialog-title>Let’s find your OVER.ai account</h1>
  <form #forgotPasswordForm="ngForm" novalidate (ngSubmit)="onEnter(forgotPasswordForm.valid,forgotPasswordForm.value)">

    <input type="email" name="email" [(ngModel)]="emailstr" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #email="ngModel"
      placeholder="enter your OVER.ai account email">
      <small [hidden]="email.valid || (email.pristine && !forgotPasswordForm.submitted)">Email is required and format should be <i>john@doe.com</i>.</small>

      <div md-dialog-actions>
        <button md-button id="submit" type="submit" [disabled]="!forgotPasswordForm.valid">Send</button>
        <button md-button (click)="dialogRef.close('Cancel')">Cancel</button>
      </div>
  </form>
</div>
