 @import '../../../../../css/keyframes';
@import '../../../../../css/variables';
 #sendForgotPassEmail {
   width: 100%;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   form {
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     input {
       height: 50px !important;
       background-color: rgba(255, 255, 255, 0.9);
       border-radius: 15px;
       margin: 10px 0px;
       color: #82868e;
       @include placeholder {
           text-align: center;
         }
     }
     button {
       position: relative;
       width: 150px !important;
       height: 55px !important;
       background-color: #F08080;
       color: $DefualtTextwhite;
       border-radius: 15px;
       margin-top: 20px;
       margin-bottom: 10px;
       font-size: 18px;
     }
     div {
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       #submit{ background-color: #90EE90;}
     }
   }
 }
