<!--<div id="resetPassword">
  <div id="formLayout">
    <form #resetPasswordForm="ngForm" novalidate (ngSubmit)="reset(resetPasswordForm.valid,resetPasswordForm.value)">
      <h1>Create new Password</h1>
      <input type="password" name="password" [(ngModel)]="resetPasswordCredentils.NewPassword" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_])[A-Za-z\d\W_]{6,}"
        #password="ngModel" placeholder="Password">
        <small [hidden]="password.valid || (password.pristine && !resetPasswordForm.submitted)">
                           Password must have min 6 characters.<br> one upper character.<br> one or more digits. <br> one special character. <br>  example:<i>Overai?24</i>
    </small>
        <input type="password" name="confirmPassword" [(ngModel)]="resetPasswordCredentils.ConfirmPassword" required validateEqual="password"
          #confirmPassword="ngModel" placeholder="Confirm Password">
          <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !resetPasswordForm.submitted)">
        Password mismatch
    </small>
          <button type="submit" [disabled]="!resetPasswordForm.valid">Submit<div *ngIf="showSyncAnimation" class="syncLoader"> </div></button>
          <p *ngIf="message || error" id="message">{{message || error}}</p>
    </form>
  </div>
</div>-->


<section class="login publicBackImg">
  <!--<error [error]="error" (clear)="error=null" *ngIf="error"></error>-->
  <!--<success [success]="success" (clear)="success=null" *ngIf="success"></success>-->

  <div id="loginPage">
    <success [success]="message" (clear)="message=null" *ngIf="message"></success>
    <error style="width: 100%;" [error]="error" (clear)="error=null" *ngIf="error"></error>
    <p class="headline">Create new Password</p>
    <div class="lineImg"> </div>
     <form #resetPasswordForm="ngForm" novalidate (ngSubmit)="reset(resetPasswordForm.valid,resetPasswordForm.value)">
      <input type="password" name="password" [(ngModel)]="resetPasswordCredentils.NewPassword" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_])[A-Za-z\d\W_]{6,}"
        #password="ngModel" placeholder="Password">
        <small [class.smallHidden]="!password.valid && resetPasswordForm.submitted">
                           Password is in wrong format! example:<i>Overai?24</i>
    </small>
        <input type="password" name="confirmPassword" [(ngModel)]="resetPasswordCredentils.ConfirmPassword" required validateEqual="password"
          #confirmPassword="ngModel" placeholder="Confirm Password">
          <small [class.smallHidden]="!confirmPassword.valid && resetPasswordForm.submitted">
        Password mismatch
    </small>
          <button type="submit">Submit<div *ngIf="showSyncAnimation" class="syncLoader"> </div></button>
          <!--<p *ngIf="message || error" id="message">{{message || error}}</p>-->
    </form>
  </div>
</section>
<account-footer></account-footer>