
<section class="reset">
  <!--<error [error]="error" (clear)="error=null" *ngIf="error"></error>-->
  <!--<success [success]="success" (clear)="success=null" *ngIf="success"></success>-->

  <div id="resetPage">
    <success [success]="success" (clear)="success=null" *ngIf="success"></success>
    <error style="width: 100%;" [error]="error" (clear)="error=null" *ngIf="error"></error>
    <p class="headline">Reset</p>
    <div class="lineImg"> </div>
    <p class="bodyHighLight">Please enter your email below and we'll send you instructions on how to reset your password.</p>
     <form #forgotPasswordForm="ngForm" novalidate (ngSubmit)="sendForgotPassEmail(forgotPasswordForm.valid,forgotPasswordForm.value)">

    <input type="email" name="email" [(ngModel)]="accountForgotPassCredentils.Email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #email="ngModel"
      placeholder="enter your OVER.ai account email">
      <small [class.smallHidden]="!email.valid && forgotPasswordForm.submitted">Email is required and format should be <i>john@doe.com</i>.</small>

      <div md-dialog-actions>
        <button md-button id="submit" type="submit">Send</button>
      </div>
  </form>
  </div>
</section>
<account-footer></account-footer>