@import '../../../../css/keyframes';
@import '../../../../css/variables';
@import '../../../../css/modules';
.reset {
  position: relative;
  height: 65vh;
  min-height: 30rem;
  p {
    text-transform: uppercase;
    text-align: center;
  }
  #resetPage {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 25%;
    min-width: 25rem;
    @include transform(translate(-50%, -50%));
    @include flex-flow(column wrap);
    justify-content: center;
    align-items: center;

    p,.lineImg {
      max-width: 25rem;
    }
    form {
      text-align: center;
      @include flex-flow(column wrap);
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 25rem;
      input,
      {
        width: 25rem;
        height: 3rem;
        margin: 0.5rem 0;
        @include placeholder {
          color: $light5;
          opacity: 1;
          text-align: center;
          vertical-align: center;
        }
      }
      button {
        position: relative;
        width: 25rem;
        height: 3rem;
        margin: 1rem 0;
        background-color: #242a2c;
        color: $DefualtTextwhite;
        .syncLoader {
          position: absolute;
          left: -10%;
          top: 80%;
        }
      }
    }
  }
}

#error {
  background-color: lightcoral;
  max-width: 320px;
  p {
    width: 100%;
    margin: auto;
    padding: 5px;
  }
}
